@import url('./assets/fonts/fonts.css');

html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html body{
    font-family: "Segoe UI Regular", Regular, Arial, sans-serif;
    font-size: 13px;
}

#app {
    background-color: #232227;
    text-align: center;
    color: white;      
}

.f-title {
    font-family: "Segoe UI Bold", Regular, Arial, sans-serif;
    font-size: 15px;
}

.price {
    /* background-color: rgba(red, green, blue, alpha); */
    background-color: #272727;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
}

.bg-card-product {
    background-color: #323136;
    box-shadow: black 0px 5px 1px;
}

.btn-yellow {
    background-color: #FFBC00;
}

.btn-yellow-selected {
    background-color: white;
}

.rad-5 {
    border-radius: 5px;
}

.rad-8 {
    border-radius: 8px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-12 {
    border-radius: 12px;
}